# Matlab Autosaves Windows
*.asv

# Python pickle files
*.pkl

# Vim swap and undo files
*.swp
*.un

# Matlab Autosaves Linux
*~

# Original files when merging
*.orig

# Do not over-write sample config
configuration.m
configuration-sample.m

# Anything else?

