[submodule "auxiliaryMethods"]
	path = auxiliaryMethods
	url = git@gitlab.mpcdf.mpg.de:connectomics/auxiliaryMethods.git
[submodule "CNN"]
	path = CNN
	url = git@gitlab.mpcdf.mpg.de:connectomics/CNN.git
[submodule "benedikt"]
	path = benedikt
	url = git@gitlab.mpcdf.mpg.de:connectomics/Benedikt.git
