[submodule "CNN"]
	path = CNN
	url = git@github.com:mhlabCodingTeam/CNN.git
	branch = master
[submodule "auxiliaryMethods"]
	path = auxiliaryMethods
	url = git@github.com:mhlabCodingTeam/auxiliaryMethods.git
	branch = master

[submodule "+benedikt"]
	path = benedikt
	url = git@github.com:mhlabCodingTeam/benedikt.git
