[submodule "CNN"]
	path = CNN
	url = git@github.com:mhlabCodingTeam/CNN.git
	branch = master
[submodule "auxiliaryMethods"]
	path = auxiliaryMethods
	url = git@github.com:mhlabCodingTeam/auxiliaryMethods.git
	branch = master
[submodule "segmentation"]
	path = segmentation
	url = git@github.com:mhlabCodingTeam/segmentation.git
	branch = master
[submodule "active"]
	path = active
	url = git@github.com:mhlabCodingTeam/active.git
	branch = master
